﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a><b>(089) 999776(HN)</b></a>
                <a><b>(089) 999776(HCM)</b></a>
                <button>Liên hệ quảng cáo</button>
                <button>Like</button>
                <button>Follow</button>
                <button>Youtube</button>
            </div>
            <div class="login-right">
                <button>Đăng Nhập</button>
                <button>Đăng Ký</button>
                <input placeholder="Tìm Kiếm" />
            </div>
        </div>
    </div>
        @RenderBody()

</body>
</html>
