﻿
@{
    ViewBag.Title = "Home-Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/content/css/my_css.css" rel="stylesheet" />
</head>
<body>*@
<h1>Home-Index</h1>
   
        <div class="main-container">
            <img src="~/content/image/Logo_Vnexpress.png" />
            <img src="~/content/image/banner-ads-1.png" />
            <img src="~/content/image/banner-ads-2.png" />
        </div>
       
@*</body>
</html>*@

